/* * TableView* */

.table-view{
    -fx-table-cell-border-color: transparent;
    -fx-background-radius: 3px;
    -fx-background-color: #1e1e1e;
    -fx-background-insets: 0;

}

.table-view .column-header, .table-view .filler {
    -fx-background-color: #1e1e1e;
}
.table-view .column-header-background{
    -fx-background-color: transparent;
}
.table-view .column-header{
    -fx-border-width: 0 2 2 0;
    -fx-border-color: rgba(1,1,1,0.15);
}
.table-view .column-header .label{
    -fx-font-size: 15px;
    -fx-text-fill: white;
    -fx-padding: 16 0 16 0;
    -fx-alignment: CENTER-LEFT;
    -fx-font-weight: bold;
}
.table-view .table-row-cell .table-cell{
    -fx-text-fill: white;
    -fx-padding: 6 16 6 16;
    -fx-border-width: 10 0 0 0;
}

.table-view .table-row-cell{
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.table-view .table-column{
    -fx-alignment:CENTER-LEFT;
    -fx-padding:0 16 0 16;
}

.table-view .table-cell{
    -fx-font-size: 13px;
}

.table-view .corner{
    -fx-background-color:transparent;
}